
<header>
    <nav class="navbar navbar-expand-sm fixed-top" style="background-color: rgb(27, 16, 32); color: azure;">
        <!-- Toggler/collapsibe Button -->
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <span style="font-family: cursive; color: rgb(172, 172, 153);">
                    LEPRINT MEDIA
                </span>
            </a>
            <button class="navbar-toggler ms-auto ms-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle Navigation" style="background-color: azure;">
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-center" id="main-nav">
                <ul class="navbar-nav ms-2 align-items-end" style="color: azure;">
                     <li><a type="button" class="nav-item nav-link active" [ngClass]="{'active': newsCategory ==='All'}" (click)="getAllHeadline()"><small>Home</small></a></li>
                    <li><a type="button" class="nav-item nav-link" [ngClass]="{'active': newsCategory ==='science'}" (click)="getNewsCategory('science')"><small>Science</small></a></li>
                    <li><a type="button" class="nav-item nav-link"  [ngClass]="{'active':newsCategory === 'technology'}" (click)="getNewsCategory('technology')"><small>Technology</small></a></li>
                    <li><a type="button" class="nav-item nav-link"  [ngClass]="{'active':newsCategory === 'sports'}" (click)="getNewsCategory('sports')"><small>Sports</small></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="newsMainBlock w-100 h-100 clear-top min-vh-100 mt-5">
<div class="contentDiv"style=" overflow: auto;">
    <div class="container-fluid" style="margin-top: 5%;">
        <div class="row mt-3 d-flex justify-content-center">
          <div class="col-md-10">
            <div class="card">
              <div class="card-body" *ngIf="realTimeNews">
                <div class="newsSources d-flex justify-content-center">
                  <h3 class="">BREAKING NEWS</h3>
                </div>
                <div class="card shadow mt-3" style="background-color: rgb(228, 233, 221);" *ngFor="let realtime of realTimeNews">
                  <a href="{{realtime.publisher.url}}" class="text-success">
                  <div class="card-header" style="background-color: rgb(20, 14, 58);">
                    <span class="d-block">
                      <h4><small>{{realtime.publisher.name}}</small></h4>
                    </span>
                  </div>
                  </a>
                  <div class="card-body w-100">
                     
                      <div class="w-100">
                     
                        <p class="media-body pb-3 mb-0 small lh-125">
                          <span class="d-flex justify-content-end text-muted"> 
                          
                            <small>published on: {{realtime.published_date | date}}</small></span>
                          <strong class="d-block ml-3 text-success">
                          </strong>
                          {{realtime.title}}
                          
                        </p>
                        <p class="mb-2 text-muted align-center"><i>read more: <span class="text-danger"><a href="{{realtime.url}}" target="_blank">{{realtime.url}}</a></span></i></p> 
                      </div>
                     
                  </div>
                </div>
        </div>
      </div>
    </div>
    </div>
    </div>
</div>
 </div>

  <footer>
    <section id="footer">
        <div class="container">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <ul class="list-unstyled list-inline social text-center">
                        <li><a href="#"><i class="fa fa-twitter"></i></a> @kevin_leresi</li> <br>
                        <li><a href="#"><i class="fa fa-envelope"></i></a> kevinleparwa@gmail.com</li>
                    </ul>
                </div>
  	
        </div>
    </section>

</footer>